/* App.css */

body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  text-align: center;
  padding: 20px;
  max-width: 1800px;
  margin: auto;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 40px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.chain-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.chain-card {
  background: #1e1e1e;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  width: 280px;
  padding: 30px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.chain-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.8);
}

.chain-card img.chain-logo {
  width: 160px;
  height: 160px;
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
}

.chain-card h2 {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: bold;
}

.chain-card p {
  font-size: 1rem;
  color: #bbbbbb;
  margin-bottom: 20px;
  line-height: 1.4;
}

.create-button {
  display: inline-block;
  padding: 12px 25px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.create-button:hover {
  background-color: #555555;
  transform: scale(1.05);
}

/* Specific Styles for each chain */
.chain-card.solana .create-button {
  background-color: #9945ff;
}

.chain-card.solana .create-button:hover {
  background-color: #7a37cc;
}

.chain-card.harmony .create-button {
  background-color: #00aee9;
}

.chain-card.harmony .create-button:hover {
  background-color: #008bb7;
}

.chain-card.binance .create-button {
  background-color: #F3BA2F;
}

.chain-card.binance .create-button:hover {
  background-color: #bd9b46;
}

